body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #e9d5ff, #a855f7);
  font-family: 'Cormorant Garamond', serif;
  overflow: hidden;
}

.app {
  position: relative;
  width: 340px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  position: absolute;
  width: 100%;
  height: 460px;

  background: linear-gradient(145deg, #f3e8ff, #e9d5ff);
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;

  font-size: 22px;
  color: #5b21b6;

  /* ГЛУБИНА */
  box-shadow:
    0 25px 60px rgba(91, 33, 182, 0.25),
    0 10px 25px rgba(0, 0, 0, 0.15);

  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform;
}



.card:nth-child(1) {
  z-index: 3;
}

.card:nth-child(2) {
  transform: scale(0.95) translateY(14px);
  z-index: 2;

  box-shadow:
    0 18px 45px rgba(91, 33, 182, 0.22),
    0 8px 18px rgba(0, 0, 0, 0.12);
}

.card:nth-child(3) {
  transform: scale(0.9) translateY(28px);
  z-index: 1;

  box-shadow:
    0 12px 30px rgba(91, 33, 182, 0.18),
    0 5px 12px rgba(0, 0, 0, 0.1);
}



.card.swipe-left {
  transform: translateX(-400px) rotate(-15deg);
  opacity: 0;
}

.card.swipe-right {
  transform: translateX(400px) rotate(15deg);
  opacity: 0;
}

#card-container {
  position: relative;
  width: 340px;
  height: 520px;
}

