body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  font-family: 'Caveat', cursive;

  background-image: linear-gradient(
    to bottom,
  #efe5ff 0%,
  #e6d6ff 20%,
  #d8bfff 40%,
  #c8a2ff 60%,
  #bb86fc 80%,
  #9d6cff 100%
  );

  background-repeat: no-repeat;
  background-size: 100% 3000px;
  background-attachment: scroll;
}

/* Скрываем скролл, но оставляем прокрутку */
html, body {
  overflow-y: scroll;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge старый */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scroll-behavior: smooth;
}


.page {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* центр по вертикали */
  justify-content: center;  /* центр по горизонтали */
  width: 100%;
}


/* Контейнер */
.wrapper {
  text-align: center;
  padding: 24px;
  width: 100%;

}

/* Лист */
.letter {
  background: #fdfaff;
  width: min(92vw, 720px);
  min-height: 420px;
  margin: auto;
  padding: 60px 65px;
  border-radius: 10px;

  /* Тонкая текстура бумаги */
  background-image:
    radial-gradient(rgba(120, 80, 180, 0.05) 1px, transparent 1px);
  background-size: 4px 4px;

  box-shadow:
    0 30px 60px rgba(90, 40, 140, 0.25),
    inset 0 0 60px rgba(120, 80, 180, 0.06);

  text-align: left;
  line-height: 1.9;
  font-size: clamp(20px, 3vw, 26px);
  color: #4b2e83;
  position: relative;
  cursor: pointer;

  /* Анимация появления */
  opacity: 0;
  transform: translateY(30px) scale(0.98);
  animation: fadeInLetter 1.4s ease forwards;
}

@keyframes fadeInLetter {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* Лёгкая сиреневая виньетка по краям */
.letter::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 80px rgba(124, 58, 237, 0.12);
  pointer-events: none;
}

/* Подсказка */
.hint {
  margin-top: 24px;
  font-size: 16px;
  opacity: 0.65;
  transition: opacity 0.3s ease;
  color: #6b21a8;
}

/* Курсор */
.cursor {
  display: inline-block;
  margin-left: 2px;
  color: #7c3aed;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}


/* Печать */
.seal {
  position: absolute;
  bottom: 30px;
  right: 40px;
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 3px 2px rgba(0,0,0,0.3));

  opacity: 0;
  transform: scale(0.6) rotate(-10deg);
  pointer-events: none;
}

.seal.show {
  animation: stampEffect 0.6s ease-out forwards;
  animation-fill-mode: forwards;

}

@keyframes stampEffect {
  0% {
    opacity: 0;
    transform: scale(0.6) rotate(-10deg);
  }
  60% {
    opacity: 1;
    transform: scale(1.2) rotate(-6deg);
  }
  80% {
    transform: scale(0.95) rotate(-8deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-8deg);
  }
}

